<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>EnjoyMovies</span>
      <span class="example-spacer"></span>
      <mat-icon class="refresh" aria-hidden="false" aria-label="Example heart icon"
        matTooltip="Borrar Seleccion de edad" (click)="refreshSelection()">cached</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>
  <!-- <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let movie of movies">
      <app-movie-card [movieData]="movie"></app-movie-card>
    </mat-grid-tile>
  </mat-grid-list> -->

  <app-movies-card-list [movies]="movies"></app-movies-card-list>

</main>